<a href="https://colab.research.google.com/github/SOTO729/Extracci-n-datos/blob/main/ACTIVIDAD_3_2_(Extracci%C3%B3n_de_Datos).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
"""
1-CVE_CLPV      (valores: 1000 a 2000)

2-CVE_VEND     (Todas las claves excepto “5” y “4”)

3-FECHA_ENT   (Fechas de “28/02/2022”)

4-CAN_TOT       (Cantidades menores a 5951.7)   o  STATUS (“E”)

5-Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT

6-Solo las filas de 7001-7099

7-Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)
"""

'\n1-CVE_CLPV      (valores: 1000 a 2000)\n\n2-CVE_VEND     (Todas las claves excepto “5” y “4”)\n\n3-FECHA_ENT   (Fechas de “28/02/2022”)\n\n4-CAN_TOT       (Cantidades menores a 5951.7)   o  STATUS (“E”)\n\n5-Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT\n\n6-Solo las filas de 7001-7099\n\n7-Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)\n'

In [1]:
import pandas as pd

In [2]:
df=pd.read_excel('Datos de Facturación.xlsx')
df.head()

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0

In [3]:
df=df[pd.to_numeric(df['CVE_CLPV'], errors='coerce').notnull()]
df.dropna(inplace=True)
df['CVE_CLPV']=df['CVE_CLPV'].astype(int)
df.head()

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0

In [4]:
#1-CVE_CLPV      (valores: 1000 a 2000)
filtro1=df[(df['CVE_CLPV']<=2000) & (df['CVE_CLPV']>=1000)]
filtro1.to_csv('filtro1')
filtro1

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
18,F29432,1965,C,2.0,2019-09-05 11:05:04.000,2019-09-05,2019-09-05 00:00:00,2019-09-20,2019-09-06,976.5000,0.00,0.0
22,F29436,1965,C,2.0,2019-09-06 12:01:36.000,2019-09-06,2019-09-06 00:00:00,2019-09-21,2019-09-12,976.5000,0.00,0.0
71,F29485,1965,C,2.0,2019-09-12 12:14:28.000,2019-09-12,2019-09-12 00:00:00,2019-09-27,2019-09-12,976.5000,146.48,0.0
348,F29764,1429,C,4.0,2019-10-03 15:02:51.000,2019-10-03,2019-10-03 00:00:00,2019-11-02,2019-10-04,1490.0000,0.00,0.0
411,F29827,1852,C,2.0,2019-10-08 11:29:07.000,2019-10-08,2019-10-08 00:00:00,2019-10-23,2019-10-08,659.8000,0.00,0.0
490,F29906,1686,C,2.0,2019-10-15 10:47:54.000,2019-10-15,2019-10-08 00:00:00,2019-10-15,2019-10-15,315.0000,0.00,0.0
2517,F31933,1965,C,2.0,2020-06-05 09:17:57.000,2020-06-05,2020-05-26 00:00:00,2020-06-20,2020-06-05,1922.2500,288.34,0.0
3267,F32683,1802,C,10.0,2020-08-31 13:27:01.277,2020-08-31,2020-08-31 00:00:00,2020-08-31,2020-08-31,8.0000,0.00,0.0
3599,F33015,1539,C,2.0,2020-10-05 09:35:36.660,2020-10-05,2020-10-01 00:00:00,2020-11-04,2020-10-07,1960.0000,0.00,0.0
3968,F33384,1016,C,6.0,2020-11-12 09:41:24.147,2020-11-12,2020-11-03 00:00:00,2020-11-12,2020-11-17,1530.0000,0.00,0.0
3979,F33395,1539,C,6.0,2020-11-13 09:09:38.653,2020-11-13,2020-11-13 00:00:00,2020-12-13,2020-11-18,51180.0000,0.00,0.0
3984,F33400,1016,C,6.0,2020-11-13 12:37:40.927,2020-11-13,2020-11-17 00:00:00,2020-11-13,2020-11-17,5610.0000,0.00,0.0
4388,F33804,1586,C,4.0,2021-01-05 08:38:54.680,2021-01-05,2020-12-09 00:00:00,2021-01-05,2021-01-07,3712.7000,0.00,0.0
5348,F34764,1339,C,5.0,2021-04-13 10:56:15.173,2021-04-13,2021-03-29 00:00:00,2021-05-13,2021-04-13,6284.0000,0.00,0.0
5349,F34765,1339,C,5.0,2021-04-13 12:30:30.773,2021-04-13,2021-03-29 00:00:00,2021-05-13,2021-04-16,6284.0000,0.00,0.0
5454,F34870,1965,C,2.0,2021-04-23 09:30:52.877,2021-04-23,2021-04-23 00:00:00,2021-05-23,2021-04-26,2563.7500,303.56,0.0
5456,F34872,1965,C,2.0,2021-04-23 09:36:28.683,2021-04-23,2021-04-23 00:00:00,2021-05-23,2021-04-26,1888.7500,202.31,0.0
6091,F35507,1539,C,3.0,2021-07-06 13:14:45.053,2021-07-06,2021-06-24 00:00:00,2021-08-05,2021-07-26,17850.0000,0.00,0.0
6337,F35753,1339,C,5.0,2021-08-04 09:08:51.490,2021-08-04,2021-07-29 00:00:00,2021-09-03,2021-08-13,4157.2200,0.00,0.0
6919,F36335,1852,C,2.0,2021-10-05 13:05:03.690,2021-10-05,2021-10-05 00:00:00,2021-11-04,2021-10-05,10863.6000,0.00,0.0
6955,F36371,1485,C,2.0,2021-10-08 09:51:23.823,2021-10-08,2021-10-08 00:00:00,2021-10-08,2021-10-11,6460.0000,0.00,0.0
7303,F36719,1016,C,3.0,2021-11-22 10:27:03.767,2021-11-22,2021-11-17 00:00:00,2021-12-22,2021-11-25,7500.0170,0.00,0.0
7561,F36977,1965,C,3.0,2021-12-22 11:31:06.180,2021-12-22,2021-12-22 00:00:00,2022-01-21,2021-12-22,5150.0000,772.50,0.0
7893,F37309,1965,C,2.0,2022-02-09 09:34:09.127,2022-02-09,2022-02-08 00:00:00,2022-03-11,2022-02-09,6625.5000,993.83,0.0
8078,F37494,1943,C,2.0,2022-02-28 11:34:00.367,2022-02-28,2022-02-28 00:00:00,2022-02-28,2022-02-28,89.6800,0.00,0.0
8081,F37497,1943,C,2.0,2022-02-28 12:05:42.377,2022-02-28,2022-02-28 00:00:00,2022-02-28,2022-02-28,89.6800,0.00,0.0
8682,F38098,1982,C,2.0,2022-05-06 10:55:53.770,2022-05-06,2022-04-28 00:00:00,2022-05-06,2022-05-06,1350.0000,0.00,0.0
9102,F38518,1852,C,1.0,2022-07-04 13:35:36.653,2022-07-04,2022-07-04 00:00:00,2022-08-03,2022-07-04,5110.8486,0.00,0.0
9515,F38931,1965,C,2.0,2022-08-29 14:09:28.927,2022-08-29,2022-08-29 00:00:00,2022-09-28,2022-08-30,732.7000,109.91,0.0
9615,F39031,1429,C,1.0,2022-09-12 11:55:01.737,2022-09-12,2022-09-12 00:00:00,2022-11-11,2022-09-26,6804.0000,0.00,0.0
10373,F39789,1690,C,6.0,2022-12-19 16:45:39.337,2022-12-19,2022-12-19 00:00:00,2022-12-19,2022-12-21,699.0000,0.00,0.0
10380,F39796,1690,C,6.0,2022-12-20 17:21:38.807,2022-12-20,2022-12-19 00:00:00,2022-12-20,2022-12-20,76.1600,0.00,0.0

In [5]:
df=pd.read_excel('Datos de Facturación.xlsx')

In [6]:
#2-CVE_VEND     (Todas las claves excepto “5” y “4”)
filtro2=df[~(df['CVE_VEND']==5) & ~(df['CVE_VEND']==4)]
filtro2.to_csv('filtro2')
filtro2

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

In [7]:
#3-FECHA_ENT   (Fechas de “28/02/2022”)
filtro3=df[df['FECHA_ENT']==('2022-02-28')]
filtro3.to_csv('filtro3')
filtro3

Empty DataFrame
Columns: [CVE_DOC, CVE_CLPV, STATUS, CVE_VEND, FECHAELAB, FECHA_DOC, FECHA_ENT, FECHA_VEN, FECHA_CANCELA, CAN_TOT, DES_TOT, DES_FIN]
Index: []

In [8]:
#4-CAN_TOT       (Cantidades menores a 5951.7)   o  STATUS (“E”)
filtro4=df[(df['CAN_TOT']<5951.7) | (df['STATUS']=='E')]
filtro4.to_csv('filtro4')
filtro4

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F29414,2465,C,1.0,2019-09-03 08:58:42.000,2019-09-03,2019-09-03 00:00:00,2019-09-18,2019-09-04,3980.00,0.0,0.0
1,F29415,3926,C,1.0,2019-09-03 09:55:14.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
2,F29416,3926,C,1.0,2019-09-03 13:25:33.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-03,1550.00,0.0,0.0
3,F29417,3926,C,1.0,2019-09-03 13:33:23.000,2019-09-03,2019-09-03 00:00:00,2019-10-03,2019-09-17,1550.00,0.0,0.0
4,F29418,6813,C,2.0,2019-09-03 14:23:45.000,2019-09-03,2019-09-03 00:00:00,2019-09-03,2019-09-10,2435.44,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10890,F40306,8842,E,2.0,2023-03-06 16:09:39.013,2023-03-06,2023-03-01 00:00:00,2023-03-06,NaT,3272.00,0.0,0.0
10891,F40307,6218,NaN,2.0,2023-03-06 16:38:42.933,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,504.15,0.0,0.0
10892,NaN,5926,E,2.0,2023-03-06 17:02:33.390,2023-03-06,2023-03-06 00:00:00,2023-03-06,NaT,275.68,0.0,0.0
10893,F40309,361,E,2.0,2023-03-07 12:43:49.567,2023-03-07,2023-03-07 00:00:00,2023-03-07,NaT,129.30,0.0,0.0
10894,F40310,3011,E,2.0,2023-03-07 12:45:58.407,2023-03-07,2023-03-01 00:00:00,2023-03-07,NaT,517.20,0.0,0.0

In [9]:
#5-Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT
filtro5=df[['CVE_DOC', 'FECHA_ENT', 'FECHA_VEN', 'CAN_TOT']]
filtro5.to_csv('filtro5')
filtro5

      CVE_DOC            FECHA_ENT  FECHA_VEN  CAN_TOT
0      F29414  2019-09-03 00:00:00 2019-09-18  3980.00
1      F29415  2019-09-03 00:00:00 2019-10-03  1550.00
2      F29416  2019-09-03 00:00:00 2019-10-03  1550.00
3      F29417  2019-09-03 00:00:00 2019-10-03  1550.00
4      F29418  2019-09-03 00:00:00 2019-09-03  2435.44
...       ...                  ...        ...      ...
10890  F40306  2023-03-01 00:00:00 2023-03-06  3272.00
10891  F40307  2023-03-06 00:00:00 2023-03-06   504.15
10892     NaN  2023-03-06 00:00:00 2023-03-06   275.68
10893  F40309  2023-03-07 00:00:00 2023-03-07   129.30
10894  F40310  2023-03-01 00:00:00 2023-03-07   517.20

[10895 rows x 4 columns]

In [10]:
#6-Solo las filas de 7001-7099
filtro6=df[7001:7100]
filtro6.to_csv('filtro6')
filtro6

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7001,F36417,5271,E,3.0,2021-10-15 08:40:29.183,2021-10-15,2021-10-06 00:00:00,2021-11-14,NaT,8555.24,0.0,0.0
7002,F36418,5746,E,2.0,2021-10-15 08:51:03.463,2021-10-15,2021-10-14 00:00:00,2021-10-15,NaT,620.77,0.0,0.0
7003,F36419,2163,E,3.0,2021-10-15 08:56:23.280,2021-10-15,2021-10-15 00:00:00,2021-10-15,NaT,560.00,0.0,0.0
7004,F36420,1429,E,1.0,2021-10-15 09:01:08.393,2021-10-15,2021-10-15 00:00:00,2021-12-14,NaT,23625.00,0.0,0.0
7005,F36421,5039,E,1.0,2021-10-15 09:07:07.103,2021-10-15,2021-10-08 00:00:00,2022-01-13,NaT,3308.78,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7095,F36511,4480,E,2.0,2021-10-27 13:07:43.223,2021-10-27,2021-10-27 00:00:00,2021-11-11,NaT,1137.50,0.0,0.0
7096,F36512,8186,E,2.0,2021-10-27 13:22:23.980,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaT,94.84,0.0,0.0
7097,F36513,4403,E,2.0,2021-10-27 13:35:40.677,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaT,847.00,0.0,0.0
7098,F36514,5589,E,2.0,2021-10-27 14:02:54.630,2021-10-27,2021-10-27 00:00:00,2021-10-27,NaT,965.00,0.0,0.0
7099,F36515,5589,E,2.0,2021-10-27 14:04:26.797,2021-10-27,2021-10-26 00:00:00,2021-10-27,NaT,2106.00,0.0,0.0

In [11]:
#7-Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)
filtro7=df.set_index('CVE_VEND')['FECHAELAB']
filtro7.to_csv('filtro7')
filtro7

CVE_VEND
1.0   2019-09-03 08:58:42.000
1.0   2019-09-03 09:55:14.000
1.0   2019-09-03 13:25:33.000
1.0   2019-09-03 13:33:23.000
2.0   2019-09-03 14:23:45.000
                ...
2.0   2023-03-06 16:09:39.013
2.0   2023-03-06 16:38:42.933
2.0   2023-03-06 17:02:33.390
2.0   2023-03-07 12:43:49.567
2.0   2023-03-07 12:45:58.407
Name: FECHAELAB, Length: 10895, dtype: datetime64[ns]